@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root{
  --myBlue: #15D0F9;
  --myGreen: #8BFC6F;
  --myBlack: #2D2D2D;
}

@layer base{
  body{
    @apply bg-myBlack;
  }

  h1,h2,h3,h4,h5,h6{
    font-family: 'Inter', sans-serif;
    @apply font-extrabold text-myWhite w-fit;
  }
  h1{
    @apply text-big;
  }

  .animate-gradient{
    animation: gradientanim 200s linear infinite;
  }
  @keyframes gradientanim {
    0%{
      background-size: 100% 100%;
    }
    50%{
      background-size: 150% 150%;
    }
    100%{
      background-size: 100% 100%;
    }
  }

  h2{
    @apply text-xl;
  }
  h3{
    @apply text-lg;
  }
  h4{
    @apply text-md;
  }
  h5{
    @apply text-sm;
  }
  h6{
    @apply text-tiny;
  }
  p{
    @apply text-sm text-myGray;
  }
  a{
    @apply text-md text-myGray underline cursor-pointer;
  }

  /*My styles*/
  button{
    @apply bg-myWhite px-5 py-[0.2rem] font-light text-bignormal rounded-md;
  }
  .gradient-button{
    background: linear-gradient(var(--myBlack), var(--myBlack)) padding-box,
    linear-gradient(to right, var(--myGreen), var(--myBlue)) border-box;
    border-radius: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom:0.1rem;
    border: 2px solid transparent;
  }

  /*Containers*/
  .container{
    @apply px-[100px];
  }

  /*Gradient arrow*/
}
